<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="http://leafletjs.com/examples/choropleth/us-states.js"></script>
  <title>app</title>
</head>
<body>
  <div id="render"></div>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDCQdfcr8mUsDm3FGGWIfCI5hWrb5j5bA0'></script>
</body>
</html>
