// /*################## MIXINS ################*/
@mixin transition($s) {
  -webkit-transition: all $s ease-in-out;
  -moz-transition: all $s ease-in-out;
  -ms-transition: all $s ease-in-out;
  -o-transition: all $s ease-in-out;
  transition: all $s ease-in-out;
}
@mixin border-radius($r){
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}
@mixin animate($name,$time,$type){
  -webkit-animation: $name $time $type;
  -moz-animation: $name $time $type;
  -o-animation: $name $time $type;
  animation: $name $time $type;
}
// /*################## END MIXINS ################*/
// @keyframes fadeOut {
//   0% {
//     opacity:1;
//   }
//   100% {
//     opacity:0;
//   }
// }
// @keyframes fadeIn {
//   0% {
//     opacity:0;
//   }
//   100% {
//     opacity:1;
//   }
// }
.table{
  display:table;
  width:100%;
  height:100%;
}
.row{
  display:table-row;
  width:100%;
}
.cell{
  display:table-cell;
  width:100%;
  height:100%;
  vertical-align:middle;
}
.inline{
  display:inline-block;
}
.block{
  display:block;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.relative{
  position: relative;
  width: 100%;
  height: 100%;
}
.overflow-hidden{
  overflow: hidden;
}
.cell:first-child:nth-last-child(1) {
    width:100%;
}
.cell:first-child:nth-last-child(2),
.cell:first-child:nth-last-child(2) ~ .cell {
    width:50%;
}
.cell:first-child:nth-last-child(3),
.cell:first-child:nth-last-child(3) ~ .cell {
    width:33.3333%;
}
.cell:first-child:nth-last-child(4),
.cell:first-child:nth-last-child(4) ~ .cell {
    width:25%;
}
.cell:first-child:nth-last-child(5),
.cell:first-child:nth-last-child(5) ~ .cell {
    width:20%;
}
// html,body,#render,.app{
//   width:100%;
//   height:100%;
//   padding:0;
//   margin:0;
// }

#header {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 80px;
  margin-bottom: 24px;
  padding: 0 4%;
  width: 100%;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-content {
  padding: 0px 50px;
  background-color: #ECECEC;
}

.ant-layout-footer {
  text-align: center;
}

.editable-cell {
  position: relative;
}

.editable-row-operations a{
  margin:0 5px;
}


.site-table{
  table{
    table-layout: fixed;
  }
  .editable-cell-input-wrapper,
  .editable-cell-text-wrapper {
    padding-right: 24px;
  }

  .editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
  }

  .editable-cell-icon,
  .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
  }

  .editable-cell-icon {
    line-height: 18px;
    display: none;
  }

  .editable-cell-icon-check {
    line-height: 28px;
  }

  .editable-cell:hover .editable-cell-icon {
    display: inline-block;
  }

  .editable-cell-icon:hover,
  .editable-cell-icon-check:hover {
    color:#2db7f5;
  }

  .editable-add-btn {
    margin-bottom: 8px;
  }

  .editable-row-text {
    padding: 5px;
  }

  .editable-row-operations a {
    margin-right: 8px;
  }
}
.SiteGroupIndex{
  .gutter-box {
    background: #00A0E9;
    padding: 1px 1px;
    margin:5px;
  }
}

.organizations{
  .invite{
    z-index: 1;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.75);
    transform: translateY(-100%);
    @include transition(.2s);
    &.active{
      transform: none;
    }
    .invite-inner{
      max-width:50vw;
      padding:5vw;
      background:#fff;
      display: inline-block;
    }
  }
}


#map {
  width: 600px;
  height: 400px;
}

// #map-selected-view {
//     height: 100%; /* 100% Full-height */
//     width: 500px; /* 0 width - change this with JavaScript */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Stay on top */
//     top: 0;
//     left: 0;
//     background-color: #ECECEC; /* Black*/
//     overflow-x: hidden; /* Disable horizontal scroll */
//     padding-top: 60px; /* Place content 60px from the top */
//     transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
// }
//
// #map {
//   overflow-x: hidden; /* Disable horizontal scroll */
//   padding-top: 60px; /* Place content 60px from the top */
//   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
//   height: 100%; /* 100% Full-height */
//   width: 500px; /* 0 width - change this with JavaScript */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Stay on top */
//   top: 0;
//   right: 0;
// }
